@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-gray-900;
  @apply text-black dark:text-white;
}
tbody tr:nth-child(odd) {
  @apply bg-indigo-100 dark:bg-gray-700 /* Tailwind color for bg-blue-100 */;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.carousel {
  overflow: hidden;
  width: 75%;
  margin: auto;
}

.carousel-track {
  white-space: nowrap; /* Prevent wrapping of items */
  animation: scroll 15s linear infinite; /* Adjust time as needed */
}

.card {
  margin-right: 2rem; 
}